*.class
/*/.settings
/*/gwt-unitCache
/*/test-classes
/*/www-test
/*/war/todo
/*/war/com.stoyanr.todo.Todo.JUnit
/*/war/WEB-INF/appengine-generated
/*/war/WEB-INF/classes
/*/war/WEB-INF/deploy
/*/war/WEB-INF/lib

